---
layout: layouts/base.njk
---

<time datetime="{{ (page.date) | htmlDateString }}">{{ (page.date) | readableDate }}</time>

<article>
{{ content | safe }}
</article>

{% if last_modified_at %}
<time datetime="{{ (last_modified_at) | htmlDateString }}">Updated: {{ (last_modified_at) | readableDate }}</time>
{% endif %}